<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), new_user_registration_path %>
    <% if user_signed_in? %>
    <div class="greeting">
      <%= "こんにちは、" %>
        <%= link_to current_user.nickname + "さん" , products_path(current_user), class: :greeting__link%>
      </div>
      <% else %>
      <div class="first-greeting">
      <%= "⭐️まず「ログイン」をお願いします。初めて来られた方は「新規登録」をお願いします。⭐️" %>
      </div>
    <% end %>

  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '(オリジナルアプリへ)', root_path, class: "category-list" %></li>
      <li><%= "今日は、" + Date.current.strftime('%Y年 %m月 %d日') + "です。"%></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>